
body {
    text-align:center;
    background-color:aliceblue;
}


/* img {
    border-style:solid;
    border-width:4px;
    border-color:black;
    border-radius:50%;


}
*/

.header {
    text-align: center;
    padding: 32px;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    /*padding: 0 4px; */
}

.column {
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;

}

.column img {
    margin-top:50px;
}

img {
    filter: grayscale(80%);
    -webkit-filter : grayscale(80%);

}

img:hover {
    filter: none;
    -webkit-filter : grayscale(0);

}

@media screen and (max-width: 800px) {
    .column {
        flex: 50%;
        max-width: 50%;
    }
}

@media screen and (max-width: 600px) {
    .column {
        flex: 100%;
        max-width: 100%;
    }
}


